/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
html {
  color: #222;
  font-size: 1em;
line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
text-shadow: none; }

::selection {
  background: #b3d4fc;
text-shadow: none; }

/* ==========================================================================
variables
========================================================================== */
/* ==========================================================================
Author's custom styles
========================================================================== */
body {
  font-family: 'Open Sans', 'Helvetica', 'Avenir', sans-serif;
  background-color: #000000;
  color: #ffffff;
box-sizing: border-box; }

nav ul {
list-style: none; }

nav ul li {
position: relative; }

nav ul li a, footer a, #menu-button {
  text-decoration: none;
  padding: 3px;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
letter-tracking: 0.2em; }

footer a {
  font-weight: 300;
padding: 0; }

h4 {
  text-transform: uppercase;
  letter-tracking: 0.2em;
  font-weight: 600;
margin: 0; }

nav ul li a:before, footer a:before, #menu-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffffff;
  transform-origin: bottom right;
  transform: scaleX(0);
transition: transform 0.5s ease; }

nav ul li a:hover:before, footer a:hover:before, nav ul li a:focus:before, footer a:focus:before, nav ul li a.active, #menu-button:hover:before, #menu-button:focus:before {
  transform-origin: bottom left;
transform: scaleX(1); }

p {
margin: 1rem 0 0 0; }

input#subscriptionEmail {
  box-sizing: border-box;
  line-height: 3em;
  height: 3em;
  border: 1px solid #ffffff;
  padding: 0 1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
box-shadow: none; }

#subscriptionForm input[type=submit] {
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  line-height: 3em;
  height: 3em;
  padding: 0 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  letter-spacing: 0.2em;
text-transform: uppercase; }

@media (min-width: 30em) {
  input#subscriptionEmail {
min-width: 20em; } }
@media (max-width: 30em) {
  input#subscriptionEmail {
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  border-bottom-left-radius: 0em; }

  #subscriptionForm input[type=submit] {
    width: 100%;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em; } }
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #371113;
  letter-spacing: 0.2em;
text-transform: uppercase; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #371113;
  letter-spacing: 0.2em;
text-transform: uppercase; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #371113;
  letter-spacing: 0.2em;
text-transform: uppercase; }

/* ==========================================================================
Helper classes
========================================================================== */
.sample-tattoos img, #uploaded-image-container {
  object-fit: contain;
  width: 200px;
  height: 200px;
}
.body-part-thumb img {
  object-fit: cover;
  width: 100%;
  height:100%;
}
a.body-part-thumb {
  border: 1px solid #ffffff;
  display: inline-block;
  text-decoration:none;
  height: 100px;
  width: 100px;
}
a.body-part-thumb:hover, a.body-part-thumb:focus, a.body-part-thumb.thumb-active {
  border: 1px solid #f6b243;

}
#display-body-part-img {
  height: 500px;
  width: auto;
  transition: all 3s ease-in-out;
  -webkit-animation: fade-in 2s; /* Safari 4+ */
  -moz-animation:    fade-in 2s; /* Fx 5+ */
  -o-animation:      fade-in 2s; /* Opera 12+ */
  animation:         fade-in 2s; /* IE 10+, Fx 29+ */V
}
@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@media (min-width: 60em) {
  .min-vh-30-l {
    min-height:30vh;
  }
  .dropdown {
    background: #371113;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    top: 35px;
    width: 100%;
    margin: 0;
  padding: 1rem; }

  .dropdown a {
width: auto; } }
@media (max-width: 60em) {
  .dropdown {
    height: auto;
    opacity: 1;
    position: relative;
    transition: height .5s ease, opacity .5s ease;
    width: 100%;
    margin: 0;
  padding: 1rem; }

  .dropdown a {
  width: auto; }
  #menu.hide {
    background: #371113;
    height: 0;
    opacity: 0;
    transition: all .5s ease;
    top: 35px;
    width: 100%;
    margin: 0;
    transform: translateY(50);
  padding: 1rem; }
  #menu.flex {
    height: auto;
    width: auto;
    opacity: 1;
    transform: translateY(50);
    transition: all .5s ease;
  }
}
.showDropdown {
  height: auto;
  width: auto;
  opacity: 1;
transform: translateY(0); }

.mw25rem {
max-width: 25rem; }

.hero-img-bg {
  background-image: url("../img/main_bg.jpg");
  background-position: bottom center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
background-attachment: fixed;
}
@media (min-width: 60em) {
.hero-img-bg-2 {
  background-image: url("../img/main-bg2.png");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
}
@media (max-width: 60em) {
.hero-img-bg-2 {
  background-image: url("../img/main-bg2.png");
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
background-attachment: fixed;
}
}

.bg-black {
background-color: #000000; }
.bg-tattoo-gray {
  background-color: #312f2d;
}
.lh-double {
  line-height: 2;
}
.white {
color: white; }

.yellow {
color: #f6b242; }

.red {
color: #8e191c; }

.bright-red {
color: #c02126; }

.vh-90 {
height: 90vh; }

.underlined {
text-decoration: underline; }

button.cta {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  background: #371113;
  font-family: inherit;
  background-color: #000000;
transition: color 0.4s ease-in-out; }

button.cta span, button.cta label {
display: block; }

button.cta::before, button.cta::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
background: #fff; }

button.cta span::before, button.cta span::after,
button.cta label::before, button.cta label::after {

  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  transition: all 0.2s linear;
background: #fff; }

button.cta:hover::before, button.cta:hover::after {

width: 90%; }

button.cta:hover span.cta-text::before, button.cta:hover span.cta-text::after,
button.cta:hover label.cta-text::before, button.cta:hover label.cta-text::after {
height: 100%; }

.cta::before, .cta::after {
transition-delay: 0s; }

.cta span::before, .cta span::after,
.cta label::before, .cta label::after {
transition-delay: 0.2s; }

.cta::before {
  right: 0;
top: 0; }

.cta::after {
  left: 0;
bottom: 0; }

.cta span.cta-text::before,
.cta label.cta-text::before {
  left: 0;
top: 0; }

.cta span.cta-text::after,
.cta label.cta-text::after {
  right: 0;
bottom: 0; }

.cta:hover::before, .cta:hover::after {
transition-delay: 0.2s; }

.cta:hover span.cta-text::before, .cta:hover span.cta-text::after,
.cta:hover label.cta-text::before, .cta:hover label.cta-text::after {
transition-delay: 0s; }

.tracked {
letter-spacing: 0.2em; }

/*
 * Hide visually and from screen readers
 */
.hidden {
display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
 .draggable {
   object-fit: contain;
 }
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
/* 1 */ }

  /*
   * Extends the .visuallyhidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
visibility: hidden; }

/*# sourceMappingURL=main.css.map */
div {
  position: relative;
}

#the-file-input {
	width: 0.1px;
  	height: 0.1px;
    	opacity: 0;
      	overflow: hidden;
        	position: absolute;
          	z-index: -1;

}

